@import "ol/ol.css";
/* Note: ol-contextmenu CSS is now bundled into the JavaScript, no separate import needed */

html,
body {
    margin: 0;
    height: 100%;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
