html,
body {
    margin: 0;
    height: 100%;
    font: 1em/1.5 BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica',
        'Arial', sans-serif;
    color: #222;
    font-weight: 400;
    padding: 20px 40px;
    background: linear-gradient(#efefef, #999) fixed;
}

.main-container {
    height: 100%;
    display: flex;
}

.left-container {
    flex: 1 1 0;
    padding: 5px;
}

.right-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

h1 {
    font-size: 250%;
    text-align: center;
    margin: 10px 0;
    font-weight: 700;
}

h3 {
    margin: 5px 0;
    font-weight: 700;
}

input {
    padding: 5px;
    font-size: 1.5em;
    font-family: inherit;
    border: solid 1px #444;
    border-radius: 3px;
    width: 100px;
}

.icon {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAADPElEQVRYR51Xi1EbMRDdlQoIqSDQgeaugJgKYioIqSDuAFNBoILEFcSuAFOANOoA0gEuQNrM3uhudLKkE2iGGeCk3ad9+3lC+MBSSl0i4pf4KBH9s9a+vtccth7o+35NRN8AYI2IF7lzRPQGAHvv/d5ae2ixvQig67pbALhDxMsWg+MeInpFxK3Welc7VwSglLqQUv4FgFXFwCl8+1TZc3TO3VhrOTpnKwtAKaWEEE+ZUB+IiEN8TPnmvBBCrBBxDQBM1bSYGu/9tbXWpgjOAOScE9Gz935rrT220KCUWgkhtoj4NaIkC2IGgMMuhHiJb05E98aYbeo4OBkceO+fc+C6rmMQdwmIq5iOGYCu644J6h/GmD+5W8fGSyD5HCcxIv6ObBy11tfj3xOAdGPNaDA83e49e4PjG631nn+PAXDZDM2FOTfG1LKfb1YFEOj8aYy5D4Cn6HKJGmOuJgDcZACAS25YzjnO2GrC1QCEEn4CAOWcY85fOWeklPy/cQ1RGCLQ9z3z/D18OWitGVB1lQDEzololkNJju201rcjAG4SQzNJD5VQ5ADUnAcaNoj4K/h5M8Z8Rm4gUsqXKPxDyN4bAe/9QwixKl0i42sAMONGa704HzJV8BjKt+h8vFDf9xTn2gwAj1RjTNPQSZtMK3193090c7KnAKbyqFEQQsnNZSrV1typAmCnNQrG2gYATqZJExDRozFms5Q3oeLOKGhKwpIuYNq89+vcpEsBZZMwoCqWYS7cwfCJiB5yg6pSulMZAsBJa33R1IjSIQUAO+fcpiQyKgDiYTdrRNVWPJZq0AXs+ExYLPFfbcWhrqdhBACzkcnfWah8xPEILI5iXO4fHsdLN46/Z3rG+TgOUWgWJK0AMjpjNurPJJmUkufApHKJaDvO9FanUdhTScYly1ROCjkrSqWUrAViqc3S+n5JI4yOQ8KxFoxFzck5t0rzqCjLMyDYPssoBnPIyXIp5fByyrwlss7ZYPVhIoTYxyI1pSA8xaD0VAsDiiU9d8r2h0mSwfw0Yy5nj9GlfOBSQ8TNKD5L+5tmf2jXHNrxp/QU46ca07RfcjwCagYQ34CnIvem5FacX9kw16L1H8HnZ7+6bIN7AAAAAElFTkSuQmCC");
}

i.icon {
    display: block;
    width: 20px;
    height: 20px;
}

a.link {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted #333;
}

a.link:hover {
    border-bottom: 1px solid #333;
}

.flex {
    display: flex;
}

.flex>* {
    margin-right: 5px;
}

.center {
    text-align: center;
}
